<html>
<head>
	<title>pubwlkr</title>
</head>
<body>

	<header>
		<h1>PubWlkr</h1>
		<nav>
			<a href="/trips">All PubWlks</a> |
			<a href="/users/<%= @user.id %>/trips/new">New PubWlk</a> |
			<a href="/session">Log Out</a> 
		</nav>
	</header>

	<hr>
	
	<h2>Your PubWlks</h2>

	{{#trips}}
	<!-- We need to add name and map_url columns in trips table -->
		<div>
			<iframe
  			width="600"
  			height="450"
  			frameborder="0" style="border:0"
  			src="{{map_url}}">
			</iframe>
			<h2>{{name}}</h2>
			<h3>{{user_rating}}</h3>
			<form method="POST" action="/user/{{user}}/trips/{{id}}/edit">
				<input type="hidden" name="_method" value="PUT">
				<button>Completed PubWlk</button>
			</form>
			<form method="POST" action"/user/{{user}}/trips/{{id}}">
				<input type="hidden" name="_method" value="DELETE">
				<button>Delete PubWlk</button>
			</form>
		</div>
	{{/trips}}

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>