body {
	font-family: 'Homenaje', sans-serif;
}

h1 {
	text-align: center;
	font-size: 3em;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#landing {
	clear: both;
	background-image: url("/images/guinness.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
}

#overlay {
	width: 50%;
	height: 50%;
	background-color: rgba(255, 255, 255, 0.3);
	margin: 150 0 0 85;
	border-radius: 10px;
}

#button_contain {
	text-align: center;
	padding-top: 10px;
}

button {
	font-family: 'Homenaje', sans-serif;
	width: 100px;
	height: 50px;
	font-size: 1em;
	border-radius: 5px;
	border: none;
}

button:hover {
	background-color: #f79727;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/images/Beer_poured.gif') 50% 50% no-repeat rgb(249,249,249);
}

