<html>
<head>
	<title>pubwlkr</title>
	<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">$(window).load(function() {$(".loader").fadeOut("slow");})</script>
</head>

<body>
<div class="loader"></div>

	<header>
		<h1>PubWlkr</h1>
		<nav>
			<a href="/trips">All PubWlks</a>
			<a href ="/users/{{user_id}}">My PubWlks</a> 
			<a href="/users/{{user_id}}/trips/new">New PubWlk</a> 
			<a href="/session">Log Out</a> 
		</nav>
	</header>

	<hr>
	
	<h2 style="text-align: center;">My PubWlks</h2>
<div class="wrap">
	<div class="col-one">
		<h2 align="center">Gasp! Incomplete PubWlks!</h2>
		{{#trips}}
		{{^completed}}
			<div style="margin-left: 15px;">
				<h2><a href="/users/{{user_id}}/trips/{{id}}">{{name}}</a></h2>

				<p>My Rating: {{user_rating}} {{^user_rating}} Unrated {{/user_rating}}</p>

			</div>
		{{/completed}}
		{{/trips}}
	</div>

	<div class="col-two">
		<h2 align="center">You've walked these PubWlks!</h2>
		{{#trips}}
		{{#completed}}
			<div style="margin-left: 15px;">
				<h2><a href="/users/{{user_id}}/trips/{{id}}">{{name}}</a></h2>

				<p>My Rating: {{user_rating}} {{^user_rating}} Unrated {{/user_rating}}</p>

			</div>
		{{/completed}}
		{{/trips}}
	</div>
</div>

<footer id="footer_list">
	<p id="copy">PubWlkr &copy; 2015</p>
</footer>

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</body>
</html>