<html>
<head>
	<title>pubwlkr</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

	<header>
		<h1>PubWlkr</h1>
		<nav>
			<a href="/trips">All PubWlks</a> |
			<a href ="/users/{{user_id}}">My PubWlks</a> |
			<a href="/users/{{user_id}}/trips/new">New PubWlk</a> |
			<a href="/session">Log Out</a> 
		</nav>
	</header>

	<hr>
	{{#trip}}
	<h2>{{name}}</h2>

	<form>
		<label>Completed?
			<input type="hidden" id="ids" value="{{user_id}} {{id}}">
			<input id="checkbox" type="checkbox" {{#completed}}checked="{{completed}}"{{/completed}}>
		</label>
	</form>

	<form method="POST" action="/trips/{{id}}">
		<input type="hidden" name="_method" value="DELETE">
		<button>Delete PubWlk</button>
	</form>

	<p>Current Rating: {{user_rating}}</p>
	<form>
	<select name="rating">Rating: 
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
	</select>
	<button id="rate">Rate PubWlk!</button> 
	</form>

	<div>
		<iframe
  		width="600"
  		height="450"
  		frameborder="0" style="border:0"
  		src="{{map_url}}">
		</iframe>
	</div>
	{{/trip}}
	<br><br>
	{{#bars}}
		<div>
			<img width="20%" src="{{pic_url}}">
			<h2>{{name}}</h2>
			<ul>
				<li>{{address}}</li>
				<li><a href="{{website}}" target="_blank">{{website}}</a></li>
				<li>Price Level: {{price_level}}</li>
				<li>Average Rating: {{rating}}</li>
			</ul>
		</div>
	{{/bars}}

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/edit_walk.js"></script>
</body>
</html>