<html>
<head>
	<title>pubwlkr</title>
</head>
<body>

	<header>
		<h1>PubWlkr</h1>
		<nav>
			<a href="/trips">All PubWlks</a> |
			<a href ="/users/{{user_id}}">My PubWlks</a> |
			<a href="/users/{{user_id}}/trips/new">New PubWlk</a> |
			<a href="/session">Log Out</a> 
		</nav>
	</header>

	<hr>
	
	<h2>My PubWlks</h2>

	{{#trips}}
	{{^completed}}
		<div>
			<h2><a href="/users/{{user_id}}/trips/{{id}}">{{name}}</a></h2>

			<h3>My Rating: {{user_rating}} {{^user_rating}} Unrated {{/user_rating}}</h3>

			<p>Gasp! Incomplete PubWlk!</p>
		</div>
	{{/completed}}
	{{#completed}}
		<div>
			<h2><a href="/users/{{user_id}}/trips/{{id}}">{{name}}</a></h2>

			<h3>My Rating: {{user_rating}} {{^user_rating}} Unrated {{/user_rating}}</h3>

			<p>You've walked this PubWlk!</p>
		</div>
	{{/completed}}
	{{/trips}}

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/edit_walk.js"></script>
</body>
</html>