<html>
<head>
	<title>pubwlkr</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

	<header>
		<h1>PubWlkr</h1>
		<nav>
			<a href="/trips">All PubWlks</a> |
			<a href ="/users/{{user_id}}">My PubWlks</a> |
			<a href="/users/{{user_id}}/trips/new">New PubWlk</a> |
			<a href="/session">Log Out</a> 
		</nav>
	</header>

	<hr>
	
	<h2>My PubWlks</h2>

	<h3>Gasp! Incomplete PubWlks!</h3>
	{{#trips}}
	{{^completed}}
		<div>
			<h2><a href="/users/{{user_id}}/trips/{{id}}">{{name}}</a></h2>

			<p>My Rating: {{user_rating}} {{^user_rating}} Unrated {{/user_rating}}</p>

		</div>
	{{/completed}}
	{{/trips}}

	<hr>

	<h3>You've walked these PubWlks!</h3>
	{{#trips}}
	{{#completed}}
		<div>
			<h2><a href="/users/{{user_id}}/trips/{{id}}">{{name}}</a></h2>

			<p>My Rating: {{user_rating}} {{^user_rating}} Unrated {{/user_rating}}</p>

		</div>
	{{/completed}}
	{{/trips}}

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</body>
</html>