<html>
<head>
	<title>pubwlkr</title>
	<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

	<script type="text/javascript">$(window).load(function() {$(".loader").fadeOut("slow");})</script>
</head>

<body>
<div class="loader"></div>

	<header>
		<h1>PubWlkr</h1>
		<nav>
			<a href="/trips">All PubWlks</a> 
			<a href ="/users/{{user_id}}">My PubWlks</a> 
			<a href="/users/{{user_id}}/trips/new">New PubWlk</a> 
			<a href="/session">Log Out</a> 
		</nav>
	</header>

	<hr>

<div id="container">

	<h2 align="center">Create a New PubWlk</h2>
	<div class="form-div">
		<form>
			<label>Name Your PubWlk: 
				<input size="50" id="name" placeholder="My Sweet PubWlk">
			</label>
		</form>

		<form>
				<label>Starting Point: 
				<input size="50" id="start" placeholder="Enter Address, Zip, or Landmark">
			</label>
		</form>

		<form>
			<label>Number of Stops:&nbsp;&nbsp;
			<select id="number_stops">
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
			</select>
			</label>
		</form>

		<form>
			<label>Define Search Radius (in miles):&nbsp;&nbsp;
				<select id="radius_input">
					<option>.25</option>
					<option>.50</option>
					<option>.75</option>
					<option>1</option>
					<option>1.25</option>
					<option>1.5</option>
					<option>1.75</option>
					<option>2</option>
				</select>
			</label>
		</form>
	</div>
	<br><br>
	
		<div align="center"><button id="generate">Generate PubWlk!</button></div>
	
</div>

<footer id="create_footer">
		<p id="copy">PubWlkr &copy; 2015</p>
</footer>

	<script type="text/javascript" src="/javascripts/create_walk.js"></script>
</body>
</html>