<html>
<head>
	<title>trips_index</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

	<header>
		<h1>PubWlkr</h1>
		<nav>
			<a href="/trips">All PubWlks</a> |
			<a href ="/users/{{user_id}}">My PubWlks</a> |
			<a href="/users/{{user_id}}/trips/new">New PubWlk</a> |
			<a href="/session">Log Out</a> 
		</nav>
	</header>

	<hr>
	
	<h2>All PubWlks Evr</h2>

	{{#trips}}
		<div>
			<h2><a href="/trips/{{id}}">{{name}}</a></h2>
			<iframe
  			width="200"
  			height="200"
  			frameborder="0" style="border:0"
  			src="{{map_url}}">
			</iframe>
			<h3>Created by: {{user.f_name}} {{user.l_name}}</h3>
			<h3>{{user.f_name}}'s rating: {{user_rating}}</h3>
		</div>
	{{/trips}}

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../javascripts/main.js"></script>
</body>
</html>