<html>
<head>
	<title>trip_show</title>
	<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">$(window).load(function() {$(".loader").fadeOut("slow");})</script>
</head>

<body>
<div class="loader"></div>

	<header>
		<h1>PubWlkr</h1>
		<nav>
			<a href="/trips">All PubWlks</a> 
			<a href ="/users/{{user_id}}">My PubWlks</a> 
			<a href="/users/{{user_id}}/trips/new">New PubWlk</a> 
			<a href="/session">Log Out</a> 
		</nav>
	</header>

	<hr>
	<div align="center">
		{{#trip}}
		<h2>{{name}}</h2>
		<h3>Created by: {{user.f_name}} {{user.l_name}}</h3>
		<h3>{{user.f_name}}'s rating: {{user_rating}} {{^user_rating}} Unrated {{/user_rating}}</h3>
		<div>
			<iframe
	  		width="500"
	  		height="400"
	  		frameborder="0" style="border:0"
	  		src="{{map_url}}">
			</iframe>
		</div>
		{{/trip}}
</div>

	<div style="clear: both;">
		<br><br><br><br>
	{{#bars}}
		
		<div class="wrap3">
			<div class="bar-images">
				<img class="bar-photo" src="{{pic_url}}">
			</div>
			<div class="bar-info">
				<h3>{{name}}</h3>
				<ul>
					<li>{{address}}</li>
					<li><a href="{{website}}" target="_blank">{{website}}</a></li>
					<li>Price Level: {{price_level}}</li>
					<li>Average Rating: {{rating}}</li>
				</ul>
			</div>
			<br>
		</div>
		<br><br>
		
	{{/bars}}

	</div>


	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../javascripts/main.js"></script>
</body>
</html>