<html>

<head>
	<title>trips_index</title>
	<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">$(window).load(function() {$(".loader").fadeOut("slow");})</script>
</head>

<body align="center">
<div class="loader"></div>

	<header>
		<h1>PubWlkr</h1>
		<nav>
			<a href="/trips">All PubWlks</a> 
			<a href ="/users/{{user_id}}">My PubWlks</a> 
			<a href="/users/{{user_id}}/trips/new">New PubWlk</a> 
			<a href="/session">Log Out</a> 
		</nav>
	</header>

	<hr>
	
	<h2>All PubWlks</h2>

	{{#trips}}
		<div>
			<h2><a href="/trips/{{id}}">{{name}}</a></h2>
			<iframe
  			width="400"
  			height="400"
  			frameborder="0" style="border:0"
  			src="{{map_url}}">
			</iframe>
			<h3>Created by: {{user.f_name}} {{user.l_name}}</h3>
			<h3>{{user.f_name}}'s rating: {{user_rating}}</h3>
		</div>
	{{/trips}}

	<footer id="all_trips">
		<p id="copy">PubWlkr &copy; 2015</p>
	</footer>

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../javascripts/main.js"></script>
</body>
</html>